@model IEnumerable<CRMProject.Models.Realestate>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BasePrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DetailPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RealeseDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Available)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rooms)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SaleType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BasePrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DetailPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RealeseDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Available)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rooms)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SaleType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.RealestateId }) |
            @Html.ActionLink("Details", "Details", new { id=item.RealestateId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.RealestateId })
        </td>
    </tr>
}

</table>
