@model CRMProject.Models.SalesAgent

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SalesAgent</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Surname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Surname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rank)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rank)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HireDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HireDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SaleValue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SaleValue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sales)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sales)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SalesAgentId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
